/* =================================
   MAIN ENTRY POINT (Bundler)
================================= */

/* 1. Global Setup (Variables, Reset, Typography) */
@import url('global.css');
@import url('header.css');
@import url('home.css');
@import url('footer.css');
@import url('media-query.css');