SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_ENCRYPTION=ssl
SMTP_USERNAME=development.tcongsinfotech@gmail.com
SMTP_PASSWORD=mdwgdfaqcrlkrgcc
SMTP_DEBUG=0
SMTP_DISABLE_TLS_VERIFY=1

MAIL_FROM_ADDRESS=development.tcongsinfotech@gmail.com
MAIL_FROM_NAME=Iam buildcon
MAIL_TO_LIST=rajesh.kumar.dev23@gmail.com
MAIL_TO_NAME=Iam buildcon
